* text=auto

*.js       text
*.mjs      text
*.ts       text
*.astro    text
*.css      text
*.json     text
*.md       text
*.html     text
*.xml      text
*.txt      text
*.svg      text

.gitignore    text
.prettierrc   text
.gitattributes text

*.png      filter=lfs diff=lfs merge=lfs -text
*.jpg      filter=lfs diff=lfs merge=lfs -text
*.jpeg     filter=lfs diff=lfs merge=lfs -text
*.gif      filter=lfs diff=lfs merge=lfs -text
*.ico      filter=lfs diff=lfs merge=lfs -text
*.webp     filter=lfs diff=lfs merge=lfs -text
*.svg      filter=lfs diff=lfs merge=lfs -text
*.pdf      binary

src/data/** linguist-detectable=false
