---
---

<section id="contact" class="bg-gray-50">
  <div
    class="bg-white px-12 py-8 flex items-center justify-end border-b border-gray-100 min-h-[118px]"
  >
    <div class="leading-[0.8] tracking-tighter text-right">
      <div class="font-heading font-[800] text-[34px] text-blue-600 uppercase">
        Contact
      </div>
    </div>
  </div>
</section>
