---
const year = new Date().getFullYear();
---

<footer
  class="w-full py-12 bg-gray-50 dark:bg-gray-900 flex flex-col items-center justify-center transition-colors duration-500"
>
  <p class="font-body text-sm text-gray-600 dark:text-gray-300">
    &copy; {year} Guilherme Cantarino. All rights reserved.
  </p>
</footer>
