---
const year = new Date().getFullYear();
---

<footer
  class="w-full py-12 bg-gray-50 border-t border-gray-100 flex flex-col items-center justify-center"
>
  <p class="font-body text-sm text-gray-400">
    &copy; {year} Guilherme Cantarino. All rights reserved.
  </p>
</footer>
